REACT_APP_NODE_ADDRESS=wss://rpc-node.gear-tech.io:443
REACT_APP_IPFS_ADDRESS=https://ipfs.gear-tech.io/api/v0
REACT_APP_IPFS_GATEWAY_ADDRESS=https://ipfs-gw.gear-tech.io/ipfs
REACT_APP_MARKETPLACE_CONTRACT_ADDRESS=0x0ab73ee2cae05a53a9f6afb618060ca6954f8310a01164d394109efe0c94f833
REACT_APP_NFT_CONTRACT_ADDRESS=0x7a8d11a5e01952cd20c52800d26199863276193967b12d3d8c8baeaf25b008e2
