

.wallet {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 10px;
  border-style: ridge;
  border-width: 3px;
  border-color: rgb(97, 103, 200);
  background-color: rgb(242, 242, 242);
}

.balance {
  margin-right: 30px;
  margin-left: 5px;
  font-size: x-large;
  color: black;
  
}

.currency {
  color: black;
  font-size: x-large;
}
